.open_btn{
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.open_btn svg {
    right: 0;
    left: 50px;
    justify-content: center;
    color: blue;
}

button_open {
    margin-left: 10rem;
}