.container{
    display: grid;
    margin: 0 auto;
    width: 160vh;
    height: 100%;
    border-radius: 1rem;
  }

  .cards{
    margin-top: 5px;
    height: 30vh;
    width: 150vh;
    border-radius: 5px;
    display: flex;
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.2);
    border: #ffffffd0;
  }

  .values {
    box-shadow: 3px 7px 20px -5px rgba(0,0,0,0.3);
    height: 80%;
    width: 80%;
    margin: auto 10px;
    border-radius: 6px;
    border-left: 1vh solid rgba(13, 88, 6, 0.7);
    background: #fffafa;
  }

  .values:nth-child(2){
    border-left: 1vh solid rgba(255, 145, 0, 0.897);
  }

  .values:nth-child(3){
    border-left: 1vh solid rgba(0, 183, 255, 0.897);
  }

  .content {
    display: grid;
    margin-top:1px;
  }

  .title{
    font-size: 20px;
    font-weight: 300;
    color: rgb(84, 87, 87);
    float: left;
    margin: 10px;
    text-transform: capitalize;
  }

  .content svg {
    float: right;
    margin-right: 15px;
    top: 10%;
    font-size: 30px;
    color: rgb(236, 175, 6);
    height: 6vh;
    width: 6vh;
  }

  .values_money{
    color: rgba(33, 36, 36, 0.705);
    font-size: 6vh;
    font-weight: 600;
  }
  .form{
    margin-top: 10px;
    display: flex;
    width: 150vh;
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.2);
    background: #fff;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
  }

  .box {
    display: flex;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 6vh;
    align-items: center;
    border-left: 5px solid rgb(233, 128, 8);
  }

  .box svg {
    margin: 5px;
    color: rgb(243, 135, 11);
  }

  .box select, input {
    border-radius: 6px;
    height: 5vh;
    width: 30vh;
    border: none;
    background: none;
    margin: 5px auto;
  }

  input[type="number"]::-webkit-inner-spin-button{
    display: none;
  }

  .box select option {
    background: rgba(214, 212, 210, 0.623);
    font-size: 20px;
  }
  select:focus{
    outline: none;
    background: none;
  }

  input:focus{
    background: none;
    outline: none;
    font-weight: 600;
  }
   .button_launch{
    height: 7vh;
    width: 25vh;
    margin:auto 5px;
    margin-top: 30px;
    border-radius: 1vh;
    border: none;
    background: rgba(221, 123, 10, 0.8);
    color: aliceblue;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
  }

  .button_launch svg {
    font-size: 18px;
  }

  .button_launch:hover{
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 15px;
    background: rgba(221, 123, 10, 0.979);
    border: 1px solid rgb(218, 216, 214);
  }

  .box svg {
    font-size: 1.5rem;
  }

  .details_form {
    display: grid;
    margin-top: 10px;
    margin: 10px;
    align-items: center;
  }

  .details_form label {
    margin-top: 0px;
    margin-left: 5px;
  }

  .table{
    margin-top: 10px;
    display: flex;
    width: 150vh;
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.2);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    background: rgba(219, 218, 218, 0.3);
  }

  .container_table{
    height: 45vh;
    overflow-y: scroll;
  }

  table thead tr th{
    width: 150vh;
    font-size: 15px;
    white-space: nowrap;
    border-collapse: collapse;
    border-radius: 5px;
    color: rgb(255, 94, 0);
    
  }

  table thead tr{
    white-space: nowrap;
    border-collapse: collapse;
    border-bottom: 1px solid rgb(104, 103, 103);
  }

  .container_table thead  th {
    position: sticky;
    top: 0;
    background: rgb(241, 239, 239);
    margin: 0px;
    border-bottom: 1px solid rgb(197, 197, 197);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.2);
  }

  .container_table thead th{
    border-bottom: 1px solid rgba(12, 11, 11, 0.4);
  }

  tbody td{
    text-align:center;
    white-space: nowrap;
    border-collapse: collapse;
  }

  .container_table tbody tr:hover{
    box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.2);
  }

  tbody td .tbvalue{
    background: rgba(28, 104, 9, 0.658);
    width: 50%;
    height: 27px;
    border-radius:5px;
    font-weight: 600;
    font-size: 15px;
    color: rgb(241, 236, 234);
    align-items: center;
  }